{% assign items = include.items %}
{% assign parent = include.parent %}

<ul>
{% for item in items %}
  {% if item.url == page.url %}
    {% assign c = "current" %}
  {% else %}
    {% assign c = "" %}
  {% endif %}

  <li class="{{ c }}"><a href="{{ site.baseurl }}/{{ parent }}/{{ item.url }}">{{ item.title }}</a></li>
  {% if item.subsubcaps %}
    <ul>
    {% for subitem in item.subsubcaps %}
      {% if subitem.url == page.url %}
        {% assign sc = "current" %}
      {% else %}
        {% assign sc = "" %}
      {% endif %}
      <li class="{{ sc }}"><a href="{{ site.baseurl }}/{{ parent }}/{{ item.url }}/{{ subitem.url }}">{{ subitem.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

{% endfor %}
</ul>
